<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    RewriteRule ^(assets|file|photo)($|/) - [L]

#    RewriteRule ^ - [E=protossl]
#    RewriteCond %{HTTPS} on
#    RewriteRule ^ - [E=protossl:s]
#    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#    RewriteRule "(^|/)\." - [F]

    ## To redirect all users to access the site WITHOUT the 'www.' prefix,
    ## (http://www.example.com/... will be redirected to http://example.com/...)
    ## uncomment the following:
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

    ##
    ## You may need to uncomment the following line for some hosting environments,
    ## if you have installed to a subdirectory, enter the name here also.
    ##
    # RewriteBase /

    ##
    ## Black list protected files
    ##
    RewriteRule ^_TEMP/.* index.php [L,NC]
    RewriteRule ^partials/.* index.php [L,NC]

    ##
    ## White listed folders and files
    ##
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_URI} !\.js
    RewriteCond %{REQUEST_URI} !\.map
    RewriteCond %{REQUEST_URI} !\.ico
    RewriteCond %{REQUEST_URI} !\.jpg
    RewriteCond %{REQUEST_URI} !\.jpeg
    RewriteCond %{REQUEST_URI} !\.bmp
    RewriteCond %{REQUEST_URI} !\.png
    RewriteCond %{REQUEST_URI} !\.gif
    RewriteCond %{REQUEST_URI} !\.svg
    RewriteCond %{REQUEST_URI} !\.css
    RewriteCond %{REQUEST_URI} !\.less
    RewriteCond %{REQUEST_URI} !\.scss
    RewriteCond %{REQUEST_URI} !\.pdf
    RewriteCond %{REQUEST_URI} !\.swf
    RewriteCond %{REQUEST_URI} !\.txt
    RewriteCond %{REQUEST_URI} !\.xml
    RewriteCond %{REQUEST_URI} !\.xls
    RewriteCond %{REQUEST_URI} !\.eot
    RewriteCond %{REQUEST_URI} !\.woff
    RewriteCond %{REQUEST_URI} !\.woff2
    RewriteCond %{REQUEST_URI} !\.ttf
    RewriteCond %{REQUEST_URI} !\.flv
    RewriteCond %{REQUEST_URI} !\.wmv
    RewriteCond %{REQUEST_URI} !\.mp3
    RewriteCond %{REQUEST_URI} !\.ogg
    RewriteCond %{REQUEST_URI} !\.wav
    RewriteCond %{REQUEST_URI} !\.avi
    RewriteCond %{REQUEST_URI} !\.mov
    RewriteCond %{REQUEST_URI} !\.mp4
    RewriteCond %{REQUEST_URI} !\.mpeg
    RewriteCond %{REQUEST_URI} !\.webm
    RewriteCond %{REQUEST_URI} !\.mkv
    RewriteCond %{REQUEST_URI} !assets/.*
    #RewriteRule ^ index.php [L,NC]

    RewriteCond %{REQUEST_URI} !(/$|\.|backend)
    RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]

    ##
    ## Standard routes
    ##
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^$ index.php [L]
    RewriteRule ^about/$ about.php [L]
    RewriteRule ^contacts/$ contacts.php [L]
    RewriteRule ^partners/$ partners.php [L]
    RewriteRule ^program/$ program.php [L]
    RewriteRule ^speakers/$ speakers.php [L]
    RewriteRule ^place/$ place.php [L]

    RewriteRule ^en/$ en/index.php [L]
    RewriteRule ^en/about/$ en/about.php [L]
    RewriteRule ^en/contacts/$ en/contacts.php [L]
    RewriteRule ^en/partners/$ en/partners.php [L]
    RewriteRule ^en/program/$ en/program.php [L]
    RewriteRule ^en/speakers/$ en/speakers.php [L]
    RewriteRule ^en/place/$ en/place.php [L]

</IfModule>
